/*colors:
light gray #757575*/

/*wireframing:*/

*:not(body):not(html){
  box-sizing: border-box;
  border: 1px dashed #000ffe;
}

/*mobile layout*/
body{
  margin: 0;
}
h1{
  margin: 0 auto;
}
.container{
  border-color: magenta;
  padding: 2vh 5vw;
}
.grid{
  border-color: purple;

}
.big-img{
  width: 100%;
  height: 22.5vh;
  background-color: burlywood;
}
/*first big image margin*/
.grid div:first-of-type{
  margin-bottom: 2vh;
}
.small-card{
  width: 100%;
  height: 10vh;
  margin-bottom: 1.5vh;
  background-color: #77ffd4;
}
.small-img{
  height: 40%;
}
/*tablet view*/
@media screen and (min-width: 600px) {
  body {
    background-color: orange;
  }
  .container{
    width: 100%;
  }
  .grid .small-card{
    margin: auto 0 1vh 0;
  }
  .grid div:first-of-type{
    margin-bottom: 1vh;
  }
  .small-card{
    width: 49%;
    display: inline-block;
    height: 13.35vh;
  }
  .grid .small-card:nth-child(2n+1){
    margin-left: 1%;
  }
  .big-img{
    height: 30vh;
  }
}
/*desktop view*/
@media screen and (min-width: 1200px) {
  body {
    background-color: palevioletred;
  }

  .grid{
    background-color: grey;
    height: 95vh;
  }
  .big-img{
    padding: 0;
    width: 55%;
    height: 45vh;
    float: left;
  }
  .grid .big-img:nth-child(even){
    float: right;
  }
  .small-card{
    width: 21%;
    height: 45vh;
    padding: 0;
  }
  .grid .small-card:nth-child(even){
    background-color: blue;
    float: left;
  }
}
