/*colors:
light gray #757575*/

/*wireframing:*/

*:not(body):not(html){
  box-sizing: border-box;
  border: 1px dashed #000ffe;
}

/*mobile layout*/
body{
  margin: 0;
}
h1{
  margin: 0 auto;
}
.container{
  border-color: magenta;
  padding: 2vh 5vw;
}
.grid{
  border-color: purple;
}
.big-img{
  width: 100%;
  height: 22.5vh;
  background-color: burlywood;
}
/*first big image margin*/
.grid div:first-of-type{
  margin-bottom: 2vh;
}
.small-card{
  width: 100%;
  height: 10vh;
  margin-bottom: 1.5vh;
  background-color: white;
}
@media screen and (min-width: 600px) {
  body {
    background-color: orange;
  }

  .container{
    width: 100%;
  }

  .grid .small-card{
    background-color: pink;
    margin: auto .68vw 1vh .72vw;
  }

  .grid div:first-of-type{
    margin-bottom: 1vh;
  }
  .small-card{
    width: 48%;
    display: inline-block;
    height: 13.35vh;
  }

  .big-img{
    height: 30vh;
  }
}
