*:not(body):not(html){
  box-sizing: border-box;
}
/*mobile layout + default style*/
body{
  margin: 0;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  color: #636363;
}
h2{
  margin: 0 auto 2vh auto;
  font-weight: normal;
  display: none;
}
img {
  max-width: 100%;
  float: left;
}
p{
  display: inline;
}
h4{
  margin: 0 0 1vh 0;
}
#football{
  background: url("../img/football.jpg");
  background-size: cover;
  background-position: center center;
}
#cart{
  background: url("../img/cartmobile.jpg")no-repeat;
  background-size: cover;
  background-position: center center;
}
#circle{
  background: url("../img/circledash.jpg")no-repeat;
  background-size: cover;
  background-position: center center;
}
#yoplait {
  background: url("../img/yoplait.jpg")no-repeat;
  background-size: cover;
  background-position: center center;
}
#friday{
  background: url("../img/friday.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
#holiday{
  background: url("../img/holiday.jpg")no-repeat;
  background-size: cover;
  background-position: center center;
}
.small-img{
  height: 100%;
  width: 25%;
  float: left;
  display: inline;
}
.card-text{
  width: 70%;
  height: 95%;
  float:right;
  padding: 1.5% 0 1.5% 0;
  overflow: hidden;
  margin: 0;
}
.icon{
  height: 20%;
  width: 10%;
  display: inline;
  float: left;
}
.container{
  border-color: magenta;
  padding: 2vh 5vw;
}
.grid{
  border-color: purple;
}
.big-img{
  width: 100%;
  height: 22.5vh;
  position: relative;
  box-shadow: 3px 3px 2px #757575;
}
.big-img-text{
  width: 85%;
  font-size: 1.1em;
  text-shadow: 1px 1px #757575;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 5%;
}
.big-img-text p{
  margin-top: 20px;
}
#friday{
  margin-bottom: 2vh;
}
.small-card{
  width: 100%;
  height: 10vh;
  margin-bottom: 1.5vh;
  padding: 1%;
  background-color: #ffff;
  box-shadow: 2.5px 2.5px 1.5px #757575;
}
/*tablet view*/
@media screen and (min-width: 600px) {
  .container{
    width: 100%;
  }
  .small-img{
    width: 100%;
    height: 60%;
    margin: 0;
    padding: 0;
  }
  .card-text{
    margin: 0;
    width:100%;
    height:40%;
    padding:2% 7%;
  }
  #friday{
    margin-bottom: 1vh;
  }
  .small-card{
    width: 49%;
    display: inline-block;
    height: 24vh;
    padding: 0;
  }
  .grid .small-card:nth-child(2n+1){
    margin-left: 1%;
  }
  .big-img{
    height: 21vh;
  }
}
/*desktop view*/
@media screen and (min-width: 1200px) {
  h2{
    display: block;
  }
  .grid{
    height: 95vh;
  }
  .big-img{
    padding: 0;
    width: 55%;
    height: 45vh;
    float: left;
  }
  .grid .big-img:nth-child(even){
    float: right;
  }
  .grid .big-img:nth-child(odd){
    margin-right: 1.5vw;
  }
  .small-card{
    width: 21%;
    height: 45vh;
  }
  .card-text{
    padding-top:20%;
  }
  .grid .small-card:nth-child(even){
    float: left;
  }
}
